body {
    font-family: 'Gabarito', sans-serif;
}

#innercont {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#carouselExampleCaptions{
    margin:0 auto;
    margin-top: 40px;
}

.carousel-caption{
    color:black;
    position:static;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #15274d;
    color: #ffffff;
    box-shadow: 0 50vh 0 50vh #15274d;
}

#uparrow {
    padding-bottom: 10%;
}